$black: #000;
$white: #fff;

// project colors
$bright-grey: #5A5C5F;
$suva-grey: #8B8B8B;
$cod-grey: #313335;
$cod-grey-50: rgba($cod-grey, .5);
$santas-grey: #989899;
$shuttle-grey: #5E5F60;
$black-pearl: #090C0F;
$silver: #BBBBBB;
$wild-blue-yonder: #6F86C5;
$white-20: rgba($white, .2);
$white-50: rgba($white, .5);
$white-70: rgba($white, .7);
$black-16: rgba($black, .16);
$black-50: rgba($black, .5);
$suva-grey-70: rgba($suva-grey, .7);
$suva-grey-50: rgba($suva-grey, .5);
$wild-blue-yonder-50: rgba($wild-blue-yonder, .5);
$bright-grey-50: rgba($bright-grey, .5);
$baltic-sea: #3F4143;
$chestnut: #B55353;
$royal-blue: #3167ff;
$picton-blue: #4E91D5;
$sunset-orange: #F15050;

// box shadows
$default-box-shadow: 0 3px 6px $black-16;
$context-box-shadow: 0 3px 6px $black-50;
