@import "mixins";
@import "props";

// container
:host {
  @include flex(center, space-between);
  height: 60px;
  background-color: $shuttle-grey;
  box-shadow: $default-box-shadow;
  position: relative;
  z-index: 60;
}

// flex container
.ww-flex {
  @include flex(center, null, null, nowrap);
  @include padding(0 15px);
  width: 100%;
  height: 100%;
  overflow: auto;
}

// divider
.ww-divider {
  @include rect(1px, 30px);
  background-color: $silver;
  margin: 0 10px;
}

// action button space
app-document-header-action + app-document-header-action {
  margin-left: 10px;
}

// save button
button {
  width: 100px;
  margin: 0 10px;
}

// for savable header
:host.ww-savable {
  .ww-flex {
    // {total} - {button-width} - {button-margins}
    width: calc(100% - 100px - 20px);
  }
}

.ww-light-theme {
  :host {
    background-color: $white;
  }
}
