@import "src/app/tk-ui/styles/mixins";
@import "src/app/tk-ui/styles/props";

// container
:host {
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}

// slide track
.tk-slide-track {
  @include rect(100%, 4px);
  position: relative;
  top: 50%;
  left: 0;
  margin-top: -2px;
  background-color: $white;
  border-radius: 2px;
}

// slide thumb
.tk-slide-thumb {
  position: absolute;
  height: 100%;
  background-color: #6F86C5;
  left: 0;
  border-radius: 2px;
}

// slide button
.tk-slide-button {
  @include ball(20px);
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  background-color: #6F86C5;
}

.ww-light-theme {
  :host {
    .tk-slide-track {
      background-color: $suva-grey;
    }
  }
}
